* {
	font-family: 'Replica ProTT', 'Arial', sans-serif;
	margin: 0;
	padding: 0;

	&:focus-visible {
		outline: solid 4px
			hsla(
				var(--secondary--h),
				var(--secondary--s),
				var(--secondary--l),
				var(--focus-visible-opacity)
			);
	}
}

html {
	--border-radius-small: 6px;
	--border-radius-medium: 10px;

	--card-transition: all ease 0.15s;

	// Utility variables
	--bg: var(--base-012);
	--bg-highlighted: var(--base-000);
	--bg-muted: var(--base-025);
	--line: var(--base-100);
	--line-highlighted: var(--base-200);
	--text: var(--base-1000);
	--text-muted: var(--base-700);

	--primary: var(--primary-500);
	--secondary: var(--secondary-500);

	--focus-visible-opacity: 0.25;

	// Color scheme - Edit here
	--base--h: 0;
	--base--s: 0%;
	--base--l: 50%;
	--base--step: 10%;

	--primary--h: 312.4;
	--primary--s: 75.4%;
	--primary--l: 35.1%;
	--primary--step: 7%;

	--secondary--h: 182.9;
	--secondary--s: 100%;
	--secondary--l: 36.7%;
	--secondary--step: 7%;

	--tertiary: hsl(54, 100%, 50%);

	// Generated palette - Add new variants here
	--base-000: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-000) * var(--base--step)))
	);
	--base-012: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-012) * var(--base--step)))
	);
	--base-025: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-025) * var(--base--step)))
	);
	--base-050: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-050) * var(--base--step)))
	);
	--base-100: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-100) * var(--base--step)))
	);
	--base-200: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-200) * var(--base--step)))
	);
	--base-400: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-400) * var(--base--step)))
	);
	--base-500: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-500) * var(--base--step)))
	);
	--base-700: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-700) * var(--base--step)))
	);
	--base-1000: hsl(
		var(--base--h),
		var(--base--s),
		calc(var(--base--l) + calc(var(--factor-1000) * var(--base--step)))
	);

	--primary-500: hsl(
		var(--primary--h),
		var(--primary--s),
		calc(var(--primary--l) + calc(var(--factor-500) * var(--primary--step)))
	);

	--secondary-300: hsl(
		var(--secondary--h),
		var(--secondary--s),
		calc(var(--secondary--l) + calc(var(--factor-300) * var(--secondary--step)))
	);
	--secondary-500: hsl(
		var(--secondary--h),
		var(--secondary--s),
		calc(var(--secondary--l) + calc(var(--factor-500) * var(--secondary--step)))
	);

	// CONSTANTS - DO NOT CHANGE
	--factor-000: 5;
	--factor-012: 4.875;
	--factor-025: 4.75;
	--factor-050: 4.5;
	--factor-100: 4;
	--factor-200: 3;
	--factor-300: 2;
	--factor-400: 1;
	--factor-500: 0;
	--factor-600: -1;
	--factor-700: -2;
	--factor-800: -3;
	--factor-900: -4;
	--factor-950: -4.5;
	--factor-975: -4.75;
	--factor-1000: -5;
	// CONSTANTS END

	@media (prefers-color-scheme: dark) {
		--bg-muted: var(--base-100);
		--line: var(--base-200);
		--line-highlighted: var(--base-400);

		--focus-visible-opacity: 0.5;

		--base--step: -10%;

		--primary--h: 54;
		--primary--s: 100%;
		--primary--l: 50%;
		--primary-step: -10%;

		--secondary--step: -7%;

		--tertiary: hsl(312.4, 75.4%, 35.1%);

		img {
			filter: saturate(0.9);
		}
	}
}

body {
	background-color: var(--bg);
	color: var(--text);
	line-height: 1.414;
}

a {
	color: var(--text);
	text-decoration: none;
}

h1 {
	margin-bottom: 3rem;
}

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding: 16px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 4px;

	& > input,
	& > textarea {
		accent-color: var(--secondary);
		background: var(--bg);
		border: solid 1px var(--line);
		border-radius: var(--border-radius-small);
		box-sizing: border-box;
		font-size: 1rem;
		padding: 8px;

		&:focus {
			--bg: var(--bg-highlighted);
			border-color: var(--secondary);
		}
	}

	& > input {
		height: 40px;
	}

	& > textarea {
		resize: vertical;
		min-height: 40px;
	}
}

::placeholder {
	opacity: 1;
	color: var(--base-500);
}

::selection {
	color: var(--text);
	background: var(--tertiary);
}
